@inject CasperBlazor Spectrum

<Router AppAssembly="@GetType().Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(CasperLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(CasperLayout)">
            <p>Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>

@code {
    System.Timers.Timer timer;

    protected override void OnAfterRender(bool firstRender) {
        if (firstRender) {
            timer = new System.Timers.Timer();
            timer.Interval = 1; // Set to 5000 to allow WebAssembly debugger to connect
            timer.Elapsed += (o, a) => StartSpectrum();
            timer.AutoReset = false;
            timer.Start();
        }
    }

    void StartSpectrum() {
        if (!Spectrum.Running) {
            Spectrum.LoadROM(Casper.Resources.Get(Casper.Shared.Resources.Assembly, @"Resources\Spectrum.rom"));
            Spectrum.Load(new Casper.FileFormats.Tap(Casper.Resources.Get(Casper.Shared.Resources.Assembly, @"Resources\Games\ManicMiner.tap")));
            Spectrum.Running = true;
        }
    }
}